{% load staticfiles %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <header>

    </header>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
{% endif %}
            <h1><a href="/">KLV's Blog</a></h1>
        </div>
        {% comment %}<div class="topmenu">
            <ul>
                <li class="topmenu_li"><a href="">Home</a> </li>
                <li class="topmenu_li"><a href="">About</a> </li>
                <li class="topmenu_li"><a href="">Contact Us</a> </li>
                <li style="float: right;"><a href="">Join Django Girls</a> </li>
            </ul>

        </div>{% endcomment %}
        <br><br>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
    <footer>
    <div class="page-header" style="padding:50px;">

        </div>

    </footer>
</html>