body{
    margin: 0;
}

h2 a{
    color: orange;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    font-size: 20px;
    border-bottom: 5px;
    vertical-align: bottom;
}

ul li{
}

li a{
    text-decoration: none;
    color: white;
    padding: 15px;
}

li a:last-child{
    border-right: none;
}

.topmenu{
    float: left;
    color: white;
    border-right: solid white 1px;

}

.topbar{
    padding: 10px;
    background-color: lightseagreen;
}

.first{
    color: white;
}